@model Practice1_Web.Models.Sale
@{
    ViewBag.Title = "EditSale";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}


<div class="mainbodyforitems" style=" margin:4%">
    <form id="additemform" class="form-horizontal" role="form" style="border:dotted" action="/Admin/EditSales" method="post">
        <br /><br />

        <div class="form-group">
            <label  class="col-md-3 control-label">Id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name=Id value=@Model.Id id="name" >
            </div>
        </div>
        
        <div class="form-group">
            <label for="password" class="col-md-3 control-label">ItemId</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name=ItemId id="price" value=@Model.ItemId disabled />
            </div>
        </div>

        <div class="form-group">
            <label for="icode" class="col-md-3 control-label">User Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name=UserId value=@Model.UserId disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="icode" class="col-md-3 control-label">Quantity</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name=Quantity value=@Model.Quntity disabled />
            </div>
        </div>

        <div class="form-group">
            <label for="icode" class="col-md-3 control-label">Status</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name=DeliveryStatus value="@Model.DeliveryStatus" autofocus />
            </div>
        </div>



        <div class="form-group">

            <div class="col-md-offset-3 col-md-9">
                <button id="btn-signup" type="submit" class="btn btn-info"> Change Status</button>

            </div>
        </div>


    </form>

</div>
