
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}

<div class="container">

    <div class="row">
        @*shows a white strip at the top*@
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <h4><i class="fa fa-fw fa-check"></i> @ViewBag.headingTitle</h4>
                </div>
            </div>
        </div>


    </div>

</div>